/* Add here all your CSS customizations */
#mc_embed_signup{
	width: 80%;
	margin: 0 auto;
}
#mc_embed_signup .mc-field-group.input-group input{
    margin: 10px;
}
#mc_embed_signup .button{
	height: auto;
}

#mc_embed_signup input#mce-EMAIL{
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}